body {
  font-family: Arial, sans-serif;
}

/* Define default container bg color */
.main-container {
  background-color: #fafaf9;
  min-height: 75vh;
  min-width: 60vw;
  max-width: 95vw;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.main-container h1 {
  font-size: 4rem; /* Default size, can be overridden */
  color: #333;
}

.main-container p {
  font-size: 2rem; /* Default size, can be overridden */
  text-align: center;
}

.main-container .btn {
  border-radius: 0.50em;
  margin: 1.3em;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.text-muted {
  color: #6c757d !important;
}

.small-text-1 {
  font-size: 0.80rem !important;
}

.small-text-2 {
  font-size: 0.85rem !important;
}